* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: "poppins", sans-serif;
}

:root {
    --bg-color: rgb(0, 0, 0);
    --second-bg-color: #101010;
    --text-color: #ffffff;
    --main-color: #ab79e0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 3rem 9%;
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--main-color);
}

.navbar a {
    font-size: 1.8rem;
    color: var(--text-color);
    margin-left: 4rem;
    font-weight: 500;
    transition: 0.3 ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

#menu-icon {
    font-size: 3.6rem;
    color: var(--main-color);
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 10rem;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15rem;
}

.home-content {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    text-align: left;
    justify-content: center;
    margin-top: 3rem;
}

span {
    color: var(--main-color);
}

.logo span {
    color: var(--main-color);
}

.home-content h3 {
    margin-bottom: 2rem;
    margin-top: 1rem;
    font-size: 3.5rem;
}

.home-content h1 {
    font-size: 7rem;
    font-weight: 700;
    margin-top: 1.5rem;
    line-height: 1;
}

.home-img {
    border-radius: 50%;
}

.home-img img {
    position: relative;
    top: 3rem;
    width: 23vw;
    height: 30vw;
    border-radius: 3%;

}

.home-content p {
    font-size: 1.5rem;
    font-weight: 500;
    max-width: 1000px;
}

.social-icons a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: transparent;
    border: 0.2rem solid var(--main-color);
    font-size: 2.5rem;
    border-radius: 1rem;
    color: var(--main-color);
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}

.social-icons a:hover {
    color: var(--text-color);
    transform: scale(1.3) translateY(-5px);
    box-shadow: 0 0 25px var(--main-color);
    background-color: var(--main-color);
}

.btn {
    display: inline-block;
    margin-right: 1rem;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 2px solid transparent;
    letter-spacing: 0.1rem;
    font-weight: 600;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.btn:hover {
    transform: scale(1.05);
    box-shadow: 0 0 50px var(--main-color);
}

.text-animation {
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;
}

.text-animation span {
    position: relative;
}

.text-animation span::before {
    content: "Full Stack Devoloper";
    color: var(--main-color);
    animation: words 20s infinite;
}

.text-animation span::after {
    content: "";
    background-color: var(--bg-color);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--bg-color);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14)infinite;

}

@keyframes cursor {
    to {
        border-left: 2px solid var(--main-color);
    }
}

@keyframes words {

    0%,
    20% {
        content: "Full Stack Devoloper";
    }

    21%,
    40% {
        content: "Frontend ";
    }

    41%,
    60% {
        content: " Backend";
    }

    61%,
    80% {
        content: " web Devoloper";
    }

    81%,
    100% {
        content: "Full Stack Devoloper";
    }
}

@keyframes typing {

    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95% {
        width: 0;
    }

    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85% {
        width: calc(100% +8px)
    }

}

.sub-title {
    text-align: center;
    font-size: 2rem;
    padding-top: 30px;
}

/*  */

.progress-bar-container i {
    font-size: 40px;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 60px auto;
}

.inner {
    padding-top: 5%;
}

.container2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 5rem;
    padding: 1rem 80px;
    font-size: 3rem;
}

.skill-box {
    padding: 1rem;
    cursor: pointer;
}

.skill-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
}

#iconss {
    font-size: 8rem;
    transition: 0.8s ease-in-out;
    padding-bottom: 2rem;
}

#iconss:hover {
    text-decoration: underline var(--main-color);
    transform: scale(1.2);
}

@media screen and (max-width:999px) {
    .container2 {
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem 50px;
    }
}

@media screen and (max-width:650px) {
    .container2 {
        grid-template-columns: 1fr;
    }
}


/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 6px;
    background-color: white;
    top: 0;
    bottom: 0;
    left: 50%;
    margin-left: -3px;
}

/* Container around content */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid var(--main-color);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

/* Place the container to the left */
.left {
    left: 0;
}

/* Place the container to the right */
.right {
    left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
    left: -16px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: var(--main-color);
    font-size: 1.5rem;
    position: relative;
    border-radius: 6px;
}


/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {

    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .container {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left::after,
    .right::after {
        left: 15px;
    }

    /* Make all right containers behave like the left ones */
    .right {
        left: 0%;
    }
}

.heading {
    text-align: center;
    font-size: 30px;
    padding-bottom: 60px;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 2.6rem;
    margin: 2rem 0 3rem;
}

::-webkit-scrollbar {
    width: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--main-color);
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color);
    width: 50px;
}

.cantact {
    background-color: var(--bg-color);
}

.cantact h2 {
    margin-bottom: 3rem;
    color: white;
    font-size: 3rem;
}

.cantact form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.cantact form .input-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.cantact form .input-box input,
.cantact form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: 0.8rem;
    border: 2px solid var(--main-color);
    margin: 1rem 0;
    resize: none;
}

.cantact form .btn {
    margin-top: 2rem;
}

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 40px 0;
    background-color: var(--main-color);
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: white;
}

.footer .social a {
    font-size: 25px;
    color: white;
    border: 2px solid white;
    width: 42px;
    height: 42px;
    line-height: 42px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 10px;
    transition: 0.3s ease-in-out;
}

.footer .social a:hover {
    transform: scale(1.2) translateY(-10);
    background-color: white;
    color: var(--main-color);
}

.footer ul {
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a {
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3 ease-in-out;
}

.footer ul li a:hover {
    border-bottom: 3px solid white;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer .copyright {
    margin-top: 50px;
    text-align: center;
    font-size: 16px;
    color: white;
}

@media(max-width:1285px) {
    html {
        font-size: 55%;
    }

    .skills {
        font-size: 55%
    }
}

@media(max-width:991px) {
    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3% 2rem;
    }

    .footer {
        padding: 2rem 3%;
    }
}

@media(max-width:895px) {
    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        right: 0;
        width: 50%;
        background: rgba(0, 0, 0, 0.9);
        backdrop-filter: blur(20px);
        border-bottom-left-radius: 2rem;
        border-left: 2px solid var(--main-color);
        border-bottom: 2px solid var(--main-color);
        display: none;
    }

    .navbar.active {
        display: block;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: white;
    }

    .home {
        flex-direction: column;
        margin: 5rem 4rem;
    }

    .home-content h3 {
        font-size: 2.6rem;
    }

    .home-content h1 {
        font-size: 8rem;
        margin-top: 3rem;
    }

    .home-content p {
        max-height: 600px;
        margin: 0 auto;
    }

    .home-img img {
        width: 56vw;
        margin-top: -2rem;
    }
}

/* project section */
.container3 {
    width: 90%;
    margin: 0 auto;
    max-width: 1000px;
}

#projects {
    padding: 10rem 0;
}

#projects .item {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 15rem;
    /* gap: 2rem; */
}

#projects .item:nth-of-type(even) {
    flex-direction: row-reverse;
}

#projects .item .left {
    flex: 1;
}

#projects .item .right {
    margin-left: -150px;
    flex: 1;
    background-color: white;
    color: var(--main-color);
    font-size: 15px;
    padding: 5rem 3rem;
    border-radius: 12px;
    box-shadow: 0px 0px 20px var(--main-color);
    z-index: 2;
}

#projects .item:nth-of-type(even) .right {
    margin-left: 0;
}

#projects .item:nth-of-type(even) .left {
    margin-left: -150px;
}

#projects .item .left .img {
    height: 500px;
    overflow: hidden;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
}

#projects .item .left .img::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    /* background-color: var(--main-color); */
}

#projects .item .left .img img {
    object-fit: cover;
    transition: 0.3s ease transform;
}

#projects .item:hover .left .img img {
    transform: scale(1.1);
    z-index: 1;
}

#projects .item .right .project-title {
    font-size: 2.5rem;
    font-family: 'Montserrat';
    margin-bottom: 1rem;
}

#projects .item .right .project-sub-title {
    font-size: 1.6rem;
    margin-bottom: 2rem;
}

#projects .item .right .project-desc {
    color: var(--secondary-gray);
    margin-bottom: 3rem;
}

#projects .item .right .external-link {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: calc(0.6em - 4px) calc(1.6em - 4px);
}

#projects .item .right .external-link svg {
    width: 25px;
}
@media only screen and (max-width: 768px) {
    #projects .item {
        flex-direction: column;
    }

    #projects .item .left {
        width: 100%;
    }

    #projects .item .right {
        margin-left: 0;
        width: 90%;
        margin-top: -150px;
    }

    #projects .item:nth-of-type(even) {
        flex-direction: column;
    }

    #projects .item:nth-of-type(even) .left {
        margin-left: 0;
    }
}

@media only screen and (max-width: 450px) {
    #projects .item .right .buttons {
        flex-direction: column;
        column-gap: 1rem;
    }

    #projects .item .right .buttons a {
        width: 100%;
        text-align: center;
    }
}